:root {
	--bgm: #232A2E;
	--bgd: #2D353B;
	--bgl: #3D484D;
	--fg: #D3C6AA;
	--red: #E67E80;
	--orange: #E69875;
	--yellow: #DBBC7F;
	--green: #A7C080;
	--aqua: #83C092;
	--blue: #7FBBB3;
	--purple: #D699B6;
}

* {
	/* font-family: "Atkinson Hyperlegible", sans-serif; */
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
}

*:focus {
	outline-color: var(--green) !important;
	background-color: transparent !important;
	outline-style: solid !important;
	outline-offset: 5px !important;
	/* color: var(--bgd) !important; */
}

body {
	background-color: var(--bgd) !important;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.has-scroll {
	visibility: hidden;
}

#wrapper {
	flex: 1;
}

button {
	background-color: var(--blue) !important;
	color: var(--bgd) !important;
}

button:hover {
	background-color: var(--red) !important;
	color: var(--bgm) !important;
}

button:focus {
	outline-color: var(--green) !important;
	background-color: var(--blue) !important;
}

.sect-cont {
	max-width: 1344px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.box {
	box-shadow: 0 0.5em 1em -0.125em var(--bgd), 0 0 0 1px var(--bgd) !important;
	background-color: var(--bgl) !important;
	color: var(--yellow);
	margin: 1.2rem;
	padding: 1.2rem;
	overflow: hidden;
}

.box header {
	color: var(--green) !important;
}

.is-danger {
	background-color: var(--red) !important;
}


.box .tags .tag {
	background-color: var(--bgl);
	color: var(--green);
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.box a {
	color: var(--blue);
	font-size: 1.5rem;
}

.title { color: var(--green) !important; }
.subtitle {	color: var(--yellow) !important; }

.has-background-primary { background-color: var(--bgd) !important; }
.has-background-light {	background-color: var(--bgl) !important; }

.is-fg     { color: var(--fg) !important; }
.is-red    { color: var(--red) !important; }
.is-orange { color: var(--orange) !important; }
.is-yellow { color: var(--yellow) !important; }
.is-green  { color: var(--green) !important; }
.is-aqua   { color: var(--aqua) !important; }
.is-blue   { color: var(--blue) !important; }
.is-purple { color: var(--purple) !important; }


.card-image {
	display: block;
	text-align: center;
}

img,
.is-rounded {
	border-radius: 50% !important;
	max-width: 300px !important;
}

.has-same-height .card {
  /* height: 405px; */
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.card-footer-item {
	color: black;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.footer {
	color: var(--fg) !important;
	/* padding-bottom: 1px; */
	margin-top: auto !important;
}

a:hover{
	/* background-color: #A7C080 !important; */
	color: #E67E80 !important;
}

.navbar-menu {
	background-color: transparent;
}

@media only screen and (max-width: 1024px) {
	.navbar-menu {
		max-width: 500px;
		margin: auto;
	}
}
/* .navbar-item {
	text-align: right;
} */

.navbar-item:hover {
	background-color: var(--bgd) !important;
	color: #E67E80 !important;
}



.has-background-light:hover {
	background-color: var(--bgl) !important;
	/* background-color: #2D353B !important; */
	color: #E67E80 !important;
}

::-moz-selection { /* Firefox */
  /* color: #A7C080 !important; */
  background: #543A48 !important;
}

::selection {
  /* color: #A7C080 !important; */
  background: #543A48 !important;
}
