html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background: #f60;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: #ffffff;
}

section {
    opacity: 0;
    /transform: translate(0, 40px);
    transition: all 1s;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-size: 80%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#menu li {
    float: left;
    width: 33.3333333%;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 0px;
    text-decoration: none;
}

#under-line {
    position: absolute;
    height: 5px;
    background: #ff9801;
    background: #db5438;
    background: #e83b35;
}

.active a {
    color: #F60 !important;
    color: #e83b35 !important;
    font-weight: bold;
}


#first-item {
    opacity: 1;
    margin-top: 85px;

}

.item {
    flex: 1 0 auto;
    margin: 10 1em;
}


h1 {
    text-align: center;
}

.top {
    display: flex;
    flex-direction: row;
}

.left {
    width: 30%;
}

.right {

    /margin: 0 1em;
    margin: 0 0 0 0.5em;
    text-align: justify;
}


.mod {
    color: white;
    background-color: black;
    width: 100%;
    text-decoration: none;
    border: none;
    height: 70px;
    color: white;
    background-color: #e83b35;
    transition: all 0.5s;
    font-size: 50%;
    z-index: -1;
    cursor: pointer;
}

.mod span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.mod span::after {
    content: '\bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition 0.5s;
}

.mod:hover {
    background-color: #d83631;
}

.mod:hover span {
    padding-right: 25px;
}

.mod:hover span:after {
    opacity: 1;
    right: 0;
}

.addtext {
    font-size: 0;
}

.addtext.visible {
    /font-size: 100%;
    font-size: 50%;
}


footer {
    flex-shrink: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #f5f5f5;
    display: block;
}

footer p {
    color: #e83b35;
}

.container {
    padding-left: 2%;
    padding-right: 0;
    float: left;
    text-align: center;
    display: none;

}

small {
    font-size: 70%;
}

.social-container {
    float: right;
    padding-left: 0;
    height: inherit;
    width: 100%;
}

.socials {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.socials li {
    float: right;
    width: 25%;

}

.socials li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: auto;
    border-radius: 2px;
    padding: 19% 0%;
    padding-left: 20px;
    padding-right: 20px;
    color: #ea3630;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.socials li:hover {
    background: rgba(0, 0, 0, 0.05);

}

.socials a:hover {
    transform: scale(1.1, 1.1);
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github:hover {
    color: #000;
}

@media screen and (min-width: 20em) {
    /* 320 */
}

@media screen and (min-width: 25em) {
    /* 400 */
}

@media screen and (min-width: 33em) {
    /* 528 */
    .addtext.visible {
        font-size: 90%;
    }
}

@media screen and (min-width:39em) {
    /* 624 */
    .addtext.visible {
        font-size: 90%;
    }
}

@media screen and (min-width: 45em) {
    /* 720 */
    #menu {
        font-size: 100%;
    }
    #menu li {
        width: auto;

    }
    #menu li a {
        padding-left: 40px;
        padding-right: 40px;
    }
    .container {
        display: inline-block;
    }
    .social-container {
        width: auto;
    }
    .socials li {
        width: auto;
        font-size: auto;
    }
    .socials li a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .mod {
        font-size: 80%;
    }
    
}

@media screen and (min-width:55em) {
    /* 880 */
    .addtext.visible {
        font-size: 100%;
    }
    .mod {
        font-size: 90%;
    }
}

@media screen and (min-width: 60em) {
    /* 960 */
    .addtext.visible {
        font-size: 100%;
    }
    .mod {
        font-size: 110%;
    }
}

@media screen and (min-width: 64em) {
    /* 1024 */
}

@media screen and (min-width: 70em) {
    /* 1120 */
    .mod {
        font-size: 110%;
    }
}

@media screen and (min-width: 80em) {
    /* 1280 */
}

@media screen and (min-width: 90em) {
    /* 1440 */
}

@media screen and (min-width: 100em) {
    /* 1600 */
}

@media screen and (min-width: 120em) {
    /* 1920 */
}

@media screen and (min-width: 160em) {
    /* 2560 */
}
